<main class="holder">
        <div>
            <img src="img/home/img01.jpg" alt="avion">
        </div>
        <div class="columnas">
            <section class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Culpa maiores ut provident? Ullam repudiandae veritatis obcaecati. 
                    Fugiat quod voluptatem excepturi doloribus itaque suscipit,
                    nobis sequi veritatis incidunt optio quidem ipsum? 
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Culpa maiores ut provident? Ullam repudiandae veritatis obcaecati. 
                    Fugiat quod voluptatem excepturi doloribus itaque suscipit,
                    nobis sequi veritatis incidunt optio quidem ipsum?</p>
            </section>
            <section class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente Excelente</span>
                    <span class="autor">Juan Gomez - zapatos.com</span>
                </div>
            </section>
        </div>
    </main>