<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card text-bg-dark border-info p-4">
                <div class="card-header">
                    <h2>Agregar una nueva Pelicula</h2>
                </div>
                <div class="card-body">
                    <form action="/admin/peliculas/agregar" method="post" style="margin-top: 25px;" enctype="multipart/form-data"> 
                        {{#if error}}
                            <h5 style="color: red;">{{message}}</h5>
                        {{/if}}
                        <div class="form-group mb-3 row">
                            <label for="titulo">Titulo</label>
                            <input type="text" class="form-control" name="titulo" placeholder="Titulo" required>
                        </div>
                        <div class="form-group mb-3 row">
                            <label for="sinopsis">Sinopsis</label>
                            <textarea placeholder="Sinopsis" class="form-control" name="sinopsis" rows="3" required></textarea>
                        </div>
                        <div class="form-group mb-3 row">
                            <label for="reparto">Reparto</label>
                            <textarea placeholder="Reparto" class="form-control" name="reparto" rows="3" required></textarea>
                        </div>
                        <div class="form-group mb-3 row">
                            <label for="director">Director</label>
                            <input type="text" class="form-control" name="director" placeholder="Director" required>
                        </div>
                        <div class="form-group mb-3 row">
                            <label for="ano">Año</label>
                            <input type="number" class="form-control" name="ano" placeholder="Año" required>
                        </div>
                        <div class="form-group mb-3 row">
                            <label for="genero">Géneros</label>
                            <input type="text" class="form-control" name="genero" placeholder="Géneros" required>
                        </div>
                        <div class="form-group mb-3 row col-6">
                            <label for="calificacion">Calificación</label>
                            <select class="form-select" name="calificacion" required>
                                <option selected>--</option>
                                {{#each puntuacion}}
                                    <option value="{{n}}"> {{n}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group mb-3 row">
                            <label for="link">Link de video</label>
                            <input type="text" class="form-control" name="link" placeholder="Link de Youtube" required>
                        </div>
                        <div class="form-group mb-3 row">
                            <label for="imagen">Imagen</label>
                            <input class="form-control" type="file" name="imagen" id="imagen" required></input>
                        </div>
                        <button class="btn btn-primary mt-3 row" type="submit">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>