body {
	background-image: url("imagen.jpg");
}
#caja {
    padding: 4px;
    margin-top: 100px;
    text-align: center;
    color: white;
	width: 800px;
	background: #041186;
	margin-right:auto;
	margin-left:auto;
}
.cuadrado{
	width: 200px;
	height: 200px;
	margin-right:auto;
	margin-left:auto;
	color: white;
	
}